<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ding</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Home/images/icon.png">
    <script src="__PUBLIC__/Home/js/jquery-2.1.4.min.js"></script>
    <script src="__PUBLIC__/Home/js/nprogress.js"></script>
    <script src="__PUBLIC__/Home/js/jquery.lazyload.min.js"></script>
    <!--[if gte IE 9]>
    <script src="__PUBLIC__/Home/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Home/js/html5shiv.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Home/js/respond.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Home/js/selectivizr-min.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script>window.location.href='upgrade-browser.html';</script>
    <![endif]-->
</head>
<body class="user-select">
<header class="header">
</header>
<section class="container">
    <div class="content-wrap">
        <div class="content">
            <div class="title">
                <br />
                <h1><font color='blue'><i>咖啡泡柠檬</i></font></h1>
                <div class="more">
                    <h3>
                        <a href="__MODULE__/Post/send" title="发帖" >发帖</a></h3>
                    </h3>
                    <br />
                    <br />
                </div>
            </div>
            <foreach name="info" item="vo" >
                <article class="excerpt excerpt-4" style=""><a class="focus" href="{:U('detail',array('aid'=>$vo['id'],'uid'=>$vo['uid']))}" title="" target="_blank" >
                    <if condition="$vo['image']  eq '' ">
                        <img class="thumb" data-original="" src="__PUBLIC__/Home/images/Ding.jpg" alt="Ding"  style="display: inline;">
                        <else />
                        <img class="thumb" data-original="" src="/Uploads{$vo['image']}" alt="Ding"  style="display: inline;">
                    </if>
                </a>
                    <header><a class="cat" href="{:U('detail',array('aid'=>$vo['id'],'uid'=>$vo['uid']))}" title="Ding" >Ding/Guo<i></i></a>
                        <h2><a href="{:U('detail',array('aid'=>$vo['id'],'uid'=>$vo['uid']))}" title="Ding" target="_blank" >{$vo['title']}</a>
                        </h2>
                    </header>
                    <p class="meta">
                        <time class="time"><i class="glyphicon glyphicon-time"></i> {$vo['creat_time']|date='Y-m-d',###}</time>
                        <!--<span class="views"><i class="glyphicon glyphicon-eye-open"></i> 216</span> <a class="comment" href="{:U('detail',array('aid'=>$vo['id'],'uid'=>$vo['uid']))}" title="评论" target="_blank" ><i class="glyphicon glyphicon-comment"></i> 4</a>-->
                    </p>
                    <p class="note">{$vo['content']}</p>
                </article>
            </foreach>


        </div>
    </div>
    <aside class="sidebar">
        <div class="fixed">
            <div class="widget widget-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab" data-toggle="tab" >咖啡泡柠檬</a></li>
                    <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab" >个人中心</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane contact active" id="notice">
                        <h2>欢迎来到我的论坛！！！</h2>
                        <embed pluginspage="http://www.macromedia.com/go/getflashplayer"
                               type="application/x-shockwave-flash"
                               allowscriptaccess="always"
                               name="honehoneclock"
                               bgcolor="#ffffff"
                               quality="high"
                               src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_wh.swf"
                               wmode="transparent"
                               width="160"
                               align="middle"
                               height="70">
                    </div>
                    <div role="tabpanel" class="tab-pane contact" id="contact">
                        <if condition="$visitor eq 1">
                            <h3><a href='__MODULE__/User/Login'>我要做会员</a></h3>
                            <else />
                            <h2>欢迎{$userInfo['nickname']}回来！！！</h2>
                        </if>
                        <embed pluginspage="http://www.macromedia.com/go/getflashplayer"
                               type="application/x-shockwave-flash"
                               allowscriptaccess="always"
                               name="honehoneclock"
                               bgcolor="#ffffff"
                               quality="high"
                               src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_wh.swf"
                               wmode="transparent"
                               width="160"
                               align="middle"
                               height="70">
                    </div>
                </div>
            </div>
        </div>
        <div class="widget widget_hot">
            <h3>最新帖子</h3>
            <ul>
                <foreach name="info" item="vo" >
                    <li><a title="Ding" href="{:U('detail',array('aid'=>$vo['id'],'uid'=>$vo['uid']))}" ><span class="thumbnail">
                                <if condition="$vo['image']  eq '' ">
                                    <img class="thumb" data-original="" src="__PUBLIC__/Home/images/Ding.jpg" alt="Ding"  style="display: inline;">
                                    <else />
                                    <img class="thumb" data-original="" src="/Uploads{$vo['image']}" alt="Ding"  style="display: inline;">
                                </if>
                </span><span class="text">{$vo['title']}</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
                    {$vo['creat_time']|date='Y-m-d',###}
                </span>
                        <!--<span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span>-->
                    </a></li>
                </foreach>
            </ul>
        </div>
    </aside>
</section>
<footer class="footer">
</footer>
<script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
</body>
</html>
